.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.movieContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.movieWrapper {
  width: 300px;
  background-color: aquamarine;
  height: 450px;
  color: black;
  font-size: 18px;
}
.input-search{
  height: 35px;
  margin-bottom: 40px;
  font-size: 18px;
  padding: 5px;
  width: 500px;
}
.movieImage{
  width: 300px;
  height: 300px;
}
.movieTitle{
  height: 60px;
  margin-top: 27px;
  font-weight: bold;
}
